@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Federo);

#AdminTable {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border: 10px;
    width:50%; 
    margin-top:10%;
    margin-left:25%; 
    margin-right:25%;
}

body {
    background-image: url("MommysSecretBackGround.png");
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 25%;
    background-attachment: fixed;
}

