input[type=text] {
    width: 50%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 12px;
}

input[type=button], input[type=submit], input[type=reset] {
    background-color: #ccff66;
    border: none;
    color: #99cc00;
    padding: 16px 32px;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 150%;
    font-weight: bold;
}

#Default {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#Member {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 60%;
}

td, th {
    border: 1px solid #ddd;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2;}

tr:hover {background-color: #ddd;}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #ffe6e6;
    color: #ea9399;
}
body {
    background-image: url("MommysSecretBackGround.png");
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 25%;
    background-attachment: fixed;
}